@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");

.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: green;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  border-color: green;
  border-top-style: solid;
}

.footer-container {
  min-height: 20vh;
}

.finder {
  text-decoration: none;
  display: flex;
  justify-content: right;
  color: green;
  font-size: 25px;
}
.footer-h1{
  margin: 0;
}

.bfro {
  text-decoration: none;
  display: flex;
  justify-content: right;
  color: green;
  font-size: 25px;
}

p {
  display: flex;
  justify-content: right;
  font-size: 15px;
}
.footer-resource {
  display: flex;
  justify-content: center;
  margin: 0;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
}
